
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home : INFO </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
      .bg-body-tertiary{
        border-radius: 10px;
        margin-top: 20px;
        border: 0.2px solid grey;
        margin-bottom: 20px;
      }
      .navbar-collapse{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <!-- <%- include('common/header') %> -->
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Delete</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Update</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Insert</a>
              </li>
              
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Option
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Setting</a></li>
                  <li><a class="dropdown-item" href="#">logOut</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <form method="post" action="/formData" class="row g-3 container-form ">
                
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">name</label>
            <input type="text" class="form-control" name="nam" id="inputEmail4" required>
        </div>
        <div class="col-md-6">
            <label for="inputuserId" class="form-label">Brand</label>
            <input type="text" class="form-control" name="brand" id="inputuserid" required>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">MRP : </label>
            <input type="number" name="mrp_value" class="form-control" id="inputPassword4" required>
        </div>
        <div class="col-6">
            <label for="inputAddress" class="form-label">Lunch Date</label>
            <input type="date" name="Ldate" class="form-control" id="inputAddress"  required>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>